.language {
  display: inline;
}
.heading {
  font-size: 20px;
}

#Compiler {
  color: white;
  background: rgb(41, 40, 40);
  height: 100vh;
}
#text {
  text-align: center;
}
.row {
  justify-content: center;
}
#source {
  color: white;
  width: 100% !important;
  background: #464444;
  height: 80vh;
  font-size: 15px;
  resize: vertical;
}
#input {
  color: white;
  background: #464444;
  width: 100%;
  height: 10vh;
  resize: vertical;
  font-size: 17px;
}
#output {
  color: white;
  background: #464444;
  height: 20vh;
  width: 100%;
  top: 5%;
  font-size: 18px;
  right: 5%;
  resize: none;
}
.col-5 {
  margin-left: px;
}
.ml-5 {
  margin-bottom: 50px;
}
.language {
  width: 150px;
}
